    body {
        margin: 0;
        font-family: 'Noto Sans KR', Arial, sans-serif;
        display: block;
        justify-content: center;
        color: #212122;
         background: linear-gradient(135deg, #f0f4ff, #e0e7ee);
    }

    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto; /* 중앙 정렬 */
        box-sizing: border-box;
    }

    .left-container, .right-container {
        min-height: 100vh; /* 최소 높이를 화면의 높이와 같게 설정 */
        height: auto; /* 컨테이너의 높이를 자동으로 조정 */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding: 14px;
        background: #fbfdff;
        border-radius: 10px;
        margin: 5px;
        box-sizing: border-box;
        overflow-y: auto;
    }

    .left-container {
        width: 80%;
    }

    .right-container {
        width: 20%;
        position: relative; 
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    #cardsContainer {
        margin-bottom: 30px;
    }

    .expanded {
        transform: scale(4);
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 41%;
        /* transform-origin: center center; */
    }

    .expanded-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 5;
        display: none;
    }


    #message {
        position: fixed;
        top: 20px;
        left: 41%;
        transform: translateX(-50%);
        background: #ffdddd;
        color: #d8000c;
        padding: 10px;
        border: 1px solid #d8000c;
        border-radius: 5px;
        display: none;
        z-index: 10;
    }


    #mainDeckLabel, #extraDeckLabel {
        width: 100%;
        text-align: left;
        margin: 0 0 10px 0;
        font-weight: bold;
        font-size: 0.9em;
        border-bottom: 2px solid #7e7c7c;
        padding-bottom: 5px;
    }

    #searchLabel {
        margin: 20px 0;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #615e5e;
        margin: 60px 0;
    }

    .card-detail-container {
        position: fixed;
        top: 10%;
        left: 41%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.7);
        padding: 3px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 15;
    }

    .card-detail-desc-container {
        position: fixed;
        bottom: 5%;
        left: 41%;
        transform: translateX(-50%);
        background: rgba(255, 255, 255, 0.5); /* 50% 투명도 */
        padding: 7px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        white-space: pre-line;
        display: none;
        z-index: 15;
    }

    button#resetButton {
        position: fixed;
        bottom: 20px; /* 화면 하단에서의 거리 */
        right: 20px; /* 화면 우측에서의 거리 */
        z-index: 10;
    }

    .action-button {
        margin: 5px 0;
        padding: 8px 16px;
        background-color: #3b5998;
        border: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s, box-shadow 0.3s;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    button#resetButton:hover {
        background-color: #2d4373;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .action-button:hover {
        background-color: #2d4373;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    }

    .contact-info:hover {
        text-decoration: underline;
    }

    #cardDetailContainer {
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
    }

    #title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .description {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .contact-info {
        font-size: 12px;
        color: #666;
        margin-bottom: 20px;
        margin-right: auto;
 }






