.card-detail-container,
.card-detail-desc-container{
    position:fixed;
    left:41%;
    transform:translateX(-50%);
    border:4px solid #000;
    background:rgba(255,255,255,.8);
    box-shadow:8px 8px 0 #272727;
    border-radius:0;
    z-index:15;
    padding:10px;
}
.card-detail-container{top:10%;}
.card-detail-desc-container{bottom:5%;white-space:pre-line;}

.card-container {
    width: 98px;
    height: 143px;
    position: relative;
    perspective: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, top 0.3s ease-out, left 0.3s ease-out;
}

.card-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    filter: brightness(1.1) opacity(0.8);
    transition: all 0.1s;
}

.card {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.deck-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98px;
    height: 163px;
    box-sizing: border-box;
}

.deck-card-name {
    text-align: center;
    font-size: 0.6em;
    margin: 2px 0 8px 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restriction-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.3em;
    height: 1.3em;
    background-color: #000;
    border: 4px solid #f00;
    color: #ff0;
    font-size: 1em;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(1.1) opacity(0.7);
    transform: translateX(-10%) translateY(-10%);
}

.restriction-label.forbidden {
    background-color: #000;
}

.restriction-label.forbidden::after {
    content: "";
    position: absolute;
    width: 0.2em;
    height: 1.5em;
    background: #f00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 0.1em;
}

.card-container.expanded .restriction-label {
    display: none;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    justify-content:center;
}

.card-thumb{
    width:60px;height:88px;
    border:4px solid #000;
    background:#bcbcbc;
}
.expanded{
    transform:scale(4);
    z-index:10;
    position:fixed;
    top:50%;left:41%;
}

@media (max-width: 768px) {
    .expanded{
        transform:scale(3);
        left: 50%;
        top: 40%;
    }
}

.expanded-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,.7);
    z-index:5;
    display:none;
}

@media (max-width: 480px) {
    .card-container {
        width: 98px;
    }

    .card-detail-desc-container {
        width: 90%;
        left: 50%
    }

    .card-detail-container {
        left: 50%;
        top: 5%;
    }

    .deck-card-wrapper {
        width: 98px;
        height: 163px;
    }

    .card {
        height: 143px;
    }
}
