.limit-tabs {
  position: absolute;
  text-align: center;
  margin-bottom: 10px;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 1;
}
.limit-tabs .action-button {
  margin: 0 4px;
  border-radius: 45%;
  width: 50px;
  height: 50px;
}
.limit-tabs .action-button.on {
  background: #3a5cda;
  box-shadow: inset -4px -4px 0 #2742a0,
             4px 4px 0 #000;
  color: #fff;
}
.limit-tabs .action-button.off {
  background: #ff5555;
  box-shadow: inset -4px -4px 0 #b33838,
             4px 4px 0 #000;
  color: #fff;
}
.limit-tabs .action-button.on:hover {
  background: #2d4373;
}
.limit-tabs .action-button.off:hover {
  background: #d24545;
}
.limit-tabs .action-button.on:active,
.limit-tabs .action-button.off:active {
  transform: translateY(2px);
  box-shadow: 
             inset -4px -4px 0 rgba(0,0,0,.25),
             2px 2px 0 #000;
}


.limit-main {
  min-height:100vh;
  width: 180vh;
  background:#fff;
  border:4px solid #000;
  box-shadow:8px 8px 0 0 #000;
  padding:14px;
  margin:6px;
  overflow-y:auto;

}

.limit-container {
  top: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;

}

#limitBoard .search-result-item {
  width: 160px;
  padding: 0 8px;
}

#limitBoard .search-result-item p {
  font-size: 1em;
  margin-top: 15px;
}

#limitBoard .search-result-item .restriction-label {
  font-size: 1em;
}

#directionPad {
    position: absolute;
    top: 15px;
    left: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    width: 120px;
    height: 120px;
    z-index: 4;
}

#showPadButton {
    position: absolute;
    top: 50px;
    left: 740px;
    z-index: 4;
    cursor: pointer;
    border-radius: 45%;
    width: 40px;
    height: 40px;
}

#directionPad .hide-button {
    grid-area: 2 / 2;
    width: 40px;
    height: 40px;
    line-height: 1;
    cursor: pointer;
}


#directionPad .action-button {
    min-width: 0;
    min-height: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 1;
    border-radius: 45%;
}

#directionPad .action-button:hover {
    background:#2d4373;
}

#showPadButton:hover {
  background:#2d4373;
}
#directionPad .action-button:active {
    transform:translateY(2px);
    box-shadow:
               inset -4px -4px 0 rgba(0,0,0,.25),
               2px 2px 0 #000;
}

#directionPad .up {
  grid-area: 1 / 2;
}
#directionPad .left {
  grid-area: 2 / 1;
}
#directionPad .right {
  grid-area: 2 / 3;
}
#directionPad .down {
  grid-area: 3 / 2;
}

.konami-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #fff;
  border: 4px solid #000;
  box-shadow: 8px 8px 0 #575754;
  font-family: 'NeoDunggeunmo', sans-serif;
  z-index: 10;
}

@media (max-width: 768px) {
  .limit-main {
    width: 70%;
  }

  .limit-container {
    padding-top: 100px;
  }

  #limitBoard .search-result-item {
    width: 98px;
    height: 163px;
  }

  #limitBoard .search-result-item p {
    margin-top: 5px;
  }
}