.search-result-item {
    width: 70px;
    height: auto;
    cursor: pointer;
    margin-bottom: -5px;
    box-sizing: border-box;
    position: relative;
}

.search-result-item img {
    width: 100%;
    height: auto;
    display: block;
}

.search-result-item p {
    text-align: center;
    margin: 3px 0 3px 0;
    font-size: 0.56em;
    line-height: 1.2;
    font-family: 'NeoDunggeunmo', sans-serif;
}

@media (max-width: 768px) {
  .search-result-item p {
    line-height: 1.2;
  }
}


.search-result-item .restriction-label {
    font-size: 0.55em;
}